@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main  {
background-color: #1C2F35;
}

p, h1, h2, li div {
    font-family: Montserrat, sans-serif;
}

#title {
    position: absolute;
    left: 320px;
    color: white;
    font-size: 22px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    margin-right: 320px;
    font-family: Montserrat, sans-serif;
    background-color: #1C2F35; 
    width: 50%;
    height: 70px;
}

.nav_links {
    display: flex;
    justify-content: space-between;
    padding-left:20px;
    width: 70%;
}

.nav_links li{
    list-style: none;
}

.nav_links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.texture {
    display: flex;
    justify-content: center;
}

.one {
    background-color:rgb(14, 24, 27);
    height: 10px;
    width: 14%;
}
.two {
    background-color: #A31E23;
    height: 10px;
    width: 14%;
}
.three {
    background-color: #F5845F;
    height: 10px;
    width: 14%;
}
.four {
    background-color: #F89E65;
    height: 10px;
    width: 14%;
}
.five {
    background-color: #F6B267;
    height: 10px;
    width: 14%;
}

#bar1 {
    width: 70%;
    height: 500px;
    margin: auto;
}

#bar2 {
    width: 70%;
    height: 500px;
    margin: auto;
}

#bar3 {
    width: 70%;
    height: 500px;
    margin: auto;
}

#bar4 {
    width: 70%;
    height: 500px;
    margin: auto;
}

.first_section {
    background-color: rgb(238, 244, 247);
}

#text {
    height: 350px;
    margin-left: 80px;
    margin-top: 15px;
    padding: 0px;
}

#photo {
    height: 500px;
    position: absolute;
    left: 1200px;
    bottom: 422px;
}

.hi {
    margin-left: 80px;
    padding-top: 50px;

}

.personal_info {
    color:  #1C2F35;
    padding: 100px;
    padding-left:120px;
    font-size: 20px;
}

.h2color {
    color: #A31E23;
}

.h3color {
    color: rgb(30, 103, 163);
}

#joe {
    padding-top: 20px;
    font-size: 60px;
}

.pers {

    list-style-type: circle;
    font-size: 20px;
    padding-left: 60px;
    padding-top: 20px;
    font-weight: lighter;
    line-height: 50px;
}

.second_section {
    background-color: white;
}

.second {
    color:  #1C2F35;
    padding: 120px;
    padding-left:120px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    align-items: center;
}

.second h2 {
    font-size: 40px;
    padding-bottom: 40px;

}

.third_section {
    background-color: rgb(238, 244, 247);
}

.logos {
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color:  #1C2F35;
    padding: 50px;
    padding-left:120px;
    padding-right: 120px;
    font-size: 20px;
    text-align: center;
}

.logos h2 {
    margin-bottom: 15px;
    padding-top: 10px;
}

.logos p {
    font-size: 18px;
    padding-left: 20px;
}

.h1_2 {
    color:  #1C2F35;
    padding-left:120px;
    font-size: 30px;
    padding-top: 50px;

}

#bike {
    width: 50%;
}
#guitar {
    width: 40%;
}
#books {
    width: 40%;
}

.music {
    color: #176575;
}

.sports {
    color: #176575;
}

.reading {
    color: #176575;
}

.fourth_section {
    background-color: white;
}

.travel {
    display: flex;
    justify-content: center;

}

.travel img {
    width: 400px;
    height: 260px;
    margin: 40px 5px;
    border-radius: 5px;
}

.ulsocial {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    size: 20%;
    display: inline-block;
    margin: 0px 10px;
    padding: 30px;
}

.social img {
    height: 30px;
    color: gray;
}